/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}


div.gallery {
 border: 1px solid rgb(255, 131, 94);
 width: 130px;
 float:left;
 margin-left: 1%;
 position:static;
   }

div.gallery:hover {
 border: 1px solid rgb(255, 201, 120);
 background-color: rgb(255, 244, 195);
}

div.desc {
color: chocolate;
text-align: center;
margin-left: 25%;
}
div.desc-2 {
color: chocolate;
text-align: center;
margin-left: 32%;
}
div.PP {
margin-left: 20%;
margin-top: 5%;
}


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #ff880091;
}

li {
float: left;
}

li a {
display: block;
color: #ffffffe8;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #7a4100;
}

li a.active {
color: white;
background-color: #472000;
}

div.backimg {
  background-image: url("../new-project/img/outside.jpg");
  height: 506px;
  width: 1550px;
  opacity: 0.5;
  background-repeat: no-repeat;
   }
h1.first {
  text-align: center;
}
